// don't access the $palette-* map directly in scss files
// a global $palette var is used to allow easy swapping between different palette map options
// see getCol function in _funcs.scss file for accessing
// colors from the global palette in scss files
$palette-default: (
  page-bg: #fff,
  page-bg-invert: #333,
  body: rgba(0,0,0,.75),
  body-invert: rgba(3250,250,250,.75),
  lib-primary: #00529c,
  labor-primary: #bf2232
);