<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>A game of clones</title>
  <meta
    name="Description"
    content="Do you suffer from no-ScoMo FOMO? Would you kill for a chance to grill Bill? We trained a pair of nueral networks and grew our very own Bill Shorten and Scott Morrison talkalikes. Ask them anything. An Unreal World experiment from Advance Party at The Royals."
  />
  <link rel="stylesheet" href="scss/styles.scss" />
</head>
