<header id="pageHeader">
  <button data-action="toggleNav">Nav</button>
  <h1>Sentio ex Machina</h1>
  <h2>
    Do you suffer from no-ScoMo FOMO?<br />
    Would you kill for a chance to grill Bill?
  </h2>
  <p>
    Take democracy into the your own hands, thanks to a pair of neural networks trained on hundreds of
    speeches, interviews, doorstops and Canberra thought bubbles. Ask them anything -- we promise the answers
    will be at least as illuminating as the real thing or double your money back*.
  </p>
</header>
