<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>A game of clones</title>
  <meta
    name="Description"
    content="What happens when you train a pair og neural networks on hundreds of speeches and interviews from Scott Morrison and Bill Shorten? An Unreal World experiment from Advance Party at The Royals."
  />
  <link rel="stylesheet" href="scss/styles.scss" />
</head>
