<nav id="siteNav">
  <h2>Contents</h2>
  <ul>
    <li><a data-action="toggleNav" href="index.html">Home page</a></li>
    <li><a data-action="toggleNav" href="speeches.html">Victory speeches</a></li>
    <li><a data-action="toggleNav" href="explore-the-data.html">Explore the data</a></li>
    <li><a data-action="toggleNav" href="neural-networks.html">How it works</a></li>
    <li><a data-action="toggleNav" href="why-do-this.html">About this site</a></li>
  </ul>
  <button data-action="toggleNav">Close</button>
</nav>
