<nav id="siteNav">
  <h2>Contents</h2>
  <ul>
    <li><a data-action="toggleNav" href="index.html">Home page</a></li>
    <li><a data-action="toggleNav" href="interview.html">Interview the leaders</a></li>
    <li><a data-action="toggleNav" href="campaign-posters.html">Campaign posters</a></li>
    <li><a data-action="toggleNav" href="neural-networks.html">Neural networks</a></li>
    <li><a data-action="toggleNav" href="about-advance-party.html">About us</a></li>
  </ul>
  <!-- <button data-action="toggleNav">Close</button> -->
  <div id="nav-button">
    <a data-action="toggleNav">Nav</a>
  </div>
</nav>
