/* Reset box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: $one-rem;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: getCol("bg-light");

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  // z-index ensures main content elements sit above
  // any layered background images and effects.
  z-index: 2;
}

body > header,
main,
main .fullbleed,
body > footer {
  display: grid;
  grid-template-columns: minmax(2em, auto) minmax(28rem, 75rem) minmax(2em, auto);
  > *:not(.fullbleed) {
    grid-column: 2;
  }

  > .fullbleed {
    grid-column: 1/-1;
  }

  .padded {
    margin-bottom: 2em;
  }
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
