/* Reset box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: $one-rem;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: getCol("bg-light");

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body > header,
main,
main .fullbleed,
body > footer {
  display: grid;
  grid-template-columns: minmax(2em, auto) minmax(28rem, 75rem) minmax(2em, auto);
  > *:not(.fullbleed) {
    grid-column: 2;
  }

  > .fullbleed {
    grid-column: 1/-1;
  }

  .padded {
    margin-bottom: 2em;
  }
}
