/* Reset box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: $one-rem;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  font-size: $base-fontsize;
  margin: 0;
  padding: 0;
  background: getCol("bg-page");

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: inherit;
}

body > header,
main,
body > footer {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;

  > * {
    grid-column: 2;
  }
}
