body {
  background: url("../img/bg-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  background-color: rgba(getCol("grey-light"), 0.5);
  background-blend-mode: overlay;

  position: relative;

  &::before,
  &::after {
    content: ".";
    position: absolute;
    bottom: 4.6rem;
    z-index: 1;
    width: 180px;
    height: 220px;

    transition: all 500ms;

    @include sm-screen {
      width: 220px;
      height: 280px;
    }
    @include md-screen {
      width: 280px;
      height: 350px;
    }

    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    opacity: 0.2;
    background-image: url("../img/shorten-trans.png");

    background-position: bottom left;
    background-position: bottom -50px;
  }
  &::after {
    opacity: 0.2;
    background-image: url("../img/morrison-trans.png");
    background-position: bottom right;
    right: 0;
  }
}

.tiled {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 2.5em;
  margin: 2em 0 3em 0;

  @include sm-screen {
    grid-template-columns: 1fr 1fr;
  }
}

.tiled > section {
  padding: 1em 1.5em;
  font-size: 0.9em;
  border-radius: 5px;
  margin: 0;

  background-color: getCol("labor");

  &:nth-child(even) {
    background-color: getCol("liberal");
  }

  :first-child {
    padding-top: 0;
    margin-top: 0;
  }

  :last-child {
    padding-top: 0;
    margin-top: 0;
  }

  display: grid;
  grid-template-rows: 1fr 3em;
  grid-row-gap: 0.5em;

  p,
  h3,
  a {
    color: getCol("light");
  }

  h3 {
    text-align: center;
    font-size: 1.2em;
  }

  .cta {
    a {
      text-align: center;
      text-decoration: none;
      margin: 0 auto;
      border: 1px solid getCol("dark");
      display: block;
      border-radius: 3px;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      text-transform: uppercase;
      font-size: 0.9em;
      background-color: rgba(getCol("dark"), 0.3);
      transition: all 200ms ease-out;
      &:hover {
        background-color: rgba(getCol("dark"), 0.6);
        transform: scale(1.05);
      }
    }
  }
}

#posters {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  margin-bottom: 3em;
  @include sm-screen {
    grid-template-columns: 1fr 1fr;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    border: 2px solid getCol("dark");
  }

  .wide {
    grid-column: 1/-1;
  }
}
