$border-radius: 1em;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 1em 0;
  padding: 0;
  line-height: 1.6em;
}

p {
  margin: 0 0 1.5em 0;
  padding: 0;
  line-height: 1.6em;
}

h1 {
  margin-bottom: 0.5em;
}

main {
  padding-top: 2em;
}

.tiled {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 2em;

  @include md-screen {
    grid-template-columns: 1fr 1fr;
  }

  > section {
    // background: getCol("highlight");
    border: 1px solid getCol("grey-light");
    padding: 0 1em;
  }
}

.continue {
  padding: 4em 0;
  text-align: center;
}

#debate {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

#debate section {
  padding: 0 1.5em 0.6em 1.5em;
  margin-bottom: 2.5em;
  border: none;
  text-align: center;
  width: 100%;
  color: getCol("light");
  background-size: cover;
  min-height: 12em;

  &.question {
    margin-top: 10em;
    grid-column: 2/5;
    color: getCol("body");
    border-top: $border-radius solid getCol("highight");
    background: rgba(getCol("highlight"), 0.1);

    &:first-child {
      margin-top: 0;
    }
  }

  &.shorten {
    border-radius: 0 $border-radius 0 $border-radius;
    grid-column: 1/4;
    border-right: $border-radius solid getCol("labor");

    background: url("../img/bs.jpg") no-repeat 0, 0 getCol("labor");
    background-blend-mode: soft-light;

    text-align: left;
  }

  &.pm {
    grid-column: 3/-1;
    justify-self: end;
    border-radius: $border-radius 0 $border-radius 0;
    text-align: right;

    border-left: $border-radius solid getCol("liberal");

    background: url("../img/sm.jpg") no-repeat 0, 0 getCol("liberal");
    background-blend-mode: soft-light;
  }
}
