body {
  background: url("../img/bg-texture.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(gold, 0.5); // rgba(getCol("light"), 0.2);
  background-blend-mode: hard-light;

  position: relative;

  &::before,
  &::after {
    content: ".";
    position: absolute;
    bottom: 5rem;
    z-index: 1;
    width: 200px;
    height: 300px;

    @include md-screen {
      width: 350px;
      height: 500px;
    }

    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    background-position: bottom left;
    left: 0;
    background-image: url("../img/shorten-trans.png");
  }
  &::after {
    background-position: bottom right;
    right: 0;
    background-image: url("../img/morrison-trans.png");
  }
}

.tiled {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  @include md-screen {
    grid-template-columns: 1fr 1fr;
  }

  > section {
    padding: 2em 1em 2em 3em;
    &:nth-child(odd) {
      text-align: right;
      padding-left: 0;
      padding: 2em 3em 2em 1em;
    }
  }
}

.invert {
  // background: getCol("accent");
  background: linear-gradient(
    to bottom,
    rgba(getCol("liberal"), 0.7) 0%,
    rgba(getCol("liberal"), 0.7) 50%,
    rgba(getCol("labor"), 0.7) 50%,
    rgba(getCol("labor"), 0.7) 100%
  );
  @include md-screen {
    background: linear-gradient(
      to right,
      rgba(getCol("liberal"), 0.7) 0%,
      rgba(getCol("liberal"), 0.7) 50%,
      rgba(getCol("labor"), 0.7) 50%,
      rgba(getCol("labor"), 0.7) 100%
    );
  }
}
