#pageHeader {
  position: relative;
  text-align: center;

  h1 {
    color: getCol("highlight");
    margin: 8rem 0 0 0;

    font-size: 4em;
    font-family: $titlefont;
    line-height: 0.928em;
    font-weight: 500;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 0.2em;
    padding-top: 0.4em;
    border-top: 1px solid getCol("highlight");

    color: getCol("highlight");
    font-family: $titlefont;
    font-size: 1em;
    text-transform: uppercase;
    // font-family: $bodyfont;
  }

  padding-bottom: 2em;

  $col: getCol("dark");
  $startAt: 10%;
  $opacity-a: 0.5;
  $opacity-b: 0.4;
  $opacity-c: 0;

  background: linear-gradient(
    to bottom,
    rgba($col, $opacity-a) 0%,
    rgba($col, $opacity-b) $startAt,
    rgba($col, $opacity-c) 100%
  );
}
