#pageHeader {
  position: relative;
  text-align: center;
  h2 {
    line-height: 1.4em;
    color: getCol("light");
  }
  padding-bottom: 2em;
}

#pageHeader {
  $col: getCol("dark");
  $startAt: 10%;
  $opacity-a: 0.5;
  $opacity-b: 0.4;
  $opacity-c: 0;

  h1 {
    color: getCol("light");
    margin: 1em 0 0 0;
    // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  }

  h3 {
    text-transform: uppercase;
    margin-top: 0.2em;
    color: getCol("light");
    border-top: 1px solid getCol("light");
    padding-top: 0.2em;
  }

  background: linear-gradient(
    to bottom,
    rgba($col, $opacity-a) 0%,
    rgba($col, $opacity-b) $startAt,
    rgba($col, $opacity-c) 100%
  );
}

// body:not(#home) #pageHeader {
//   background-color: getCol("secondary");
//   &:after {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     content: ".";
//     background-image: url("../img/header-bg.jpg");
//     background-position: center center;
//     background-size: cover;
//     mix-blend-mode: overlay;
//     z-index: 1;
//   }

//   p,
//   h1,
//   h2,
//   h3 {
//     color: getCol("light");
//   }
// }
