#interview {
  margin-top: 2em;

  h2 {
    font-size: 2.8em;
    color: getCol("highlight");
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.6em;
    margin-bottom: 1em;
    border-bottom: 1px solid getCol("highlight");
  }

  h3 {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.4em;
  }

  .question {
    padding: 0.4em 0.8em;
    background: getCol("grey-light");

    p {
      margin-bottom: 0;
    }
  }

  .pm,
  .shorten {
    padding-left: 4px;
  }
  .pm {
    border-left: 3px solid getCol("liberal");
  }
  .shorten {
    border-left: 3px solid getCol("labor");
  }
}

#interview #question {
  position: relative;

  label {
    margin-bottom: 0.5em;
  }

  textarea {
    width: 100%;
    font-size: $base-fontsize;
    height: 4em;
    padding: 0.5em;
  }
}

#interview #suggestions {
  margin-bottom: 1.5em;

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: grid;
    grid-template-columns: 2.5em 1fr;

    &::before {
      content: "💬";
      font-size: 2em;
      display: block;
      grid-column: 1;
      align-self: center;
    }

    button {
      grid-column: 2;
      width: auto;
      text-align: left;
      border-radius: 5px;
      padding: 0.3em 0.8em;
    }
  }
}

#interview #submit {
  border-radius: 8px;
  padding: 0.6em 1em;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  border: 1px solid getCol("dark");

  &:hover {
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.5);
  }
}
