$border-left-size: 8px;
$border-radius: 5px;

#interview {
  h2 {
    color: getCol("heading");
    text-transform: uppercase;
    margin-bottom: 0;

    text-transform: none;
    text-align: center;
    font-size: 2.2em;
    padding-bottom: 0.6em;
    margin: 0.6em 0 0.3em 0;
  }

  .pm,
  .shorten,
  .question {
    padding-left: $border-left-size + 5px;
    margin: 0;
    overflow: hidden;
    padding: 0.7em 1em;

    p {
      margin: 0;
    }
  }

  .question {
    margin-top: 1.3em;
    color: getCol("dark");
    background-color: rgba(getCol("grey-dark"), 0.15);
    border-radius: $border-radius $border-radius 0 0;
    border-left: $border-left-size solid getCol("dark");
    border-bottom: 1px solid getCol("dark");
  }

  .pm {
    border-left: $border-left-size solid getCol("liberal");
    border-bottom: 1px solid getCol("liberal");
    background: getCol("light");
  }
  .shorten {
    border-left: $border-left-size solid getCol("labor");
    border-bottom: 1px solid getCol("labor");
    background: getCol("light");
  }
}

#interview #question {
  margin-top: 1.8em;
  position: relative;

  background: #fbfbfb;
  padding: 2em 2em 2em 1.5em;
  border-radius: 0 0 $border-radius $border-radius;
  margin-bottom: 3em;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "suggestions-header"
    "suggestions"
    "diy-header"
    "diy"
    "submit";

  grid-row-gap: 1em;
  grid-column-gap: 1em;

  #suggestions-header {
    grid-area: suggestions-header;
  }
  #diy-header {
    grid-area: diy-header;
  }
  #diy {
    grid-area: diy;
  }
  #suggestions {
    grid-area: suggestions;
  }

  #suggestions-header,
  #diy-header,
  #diy,
  #suggestions,
  #submit {
    margin: 0;
  }

  h4 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 1px solid getCol("grey-mid");
    border-radius: $border-radius $border-radius $border-radius $border-radius;
    background-color: getCol("light");
  }

  #suggestions {
    margin-bottom: 0.5em;
    border-radius: $border-radius $border-radius $border-radius $border-radius;

    @include md-screen {
      font-size: 0.9em;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      margin: 0;

      button {
        color: getCol("dark");
        display: block;
        width: 100%;
        text-align: left;

        padding: 0.8em 1em 1em 1em;
        line-height: 1.4em;
        border: none;
        border-bottom: 1px dashed getCol("grey-mid");
        cursor: pointer;
        background-color: rgba(getCol("grey-mid"), 0.2);
        outline: none;
      }

      &:first-child {
        button {
          border-radius: $border-radius $border-radius 0 0;
        }
      }

      &:last-child {
        button {
          border-bottom: none;
          border-radius: 0 0 $border-radius $border-radius;
        }
      }
    }
  }

  #submit {
    border-radius: 8px;
    padding: 0.6em 1em;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid getCol("highlight");
    transition: all 0.5s;

    justify-self: center;
    grid-area: submit;

    &:hover {
      box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
      transition: all 0.2s;
    }

    &:disabled {
      box-shadow: none;
      border-color: rgba(getCol("dark"), 0.3);
      color: rgba(getCol("dark"), 0.3);
      background-color: rgba(getCol("dark"), 0.08);
    }
  }

  @include md-screen {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "suggestions-header diy-header"
      "suggestions diy"
      "submit submit";

    h4 {
      font-size: 1em;
      font-weight: 400;
      text-align: center;
    }

    #submit {
      margin-top: 1em;
    }
  }
}
