$speaker-border-width: 5px;

#interview {
  // margin-top: 1em;
  h2,
  h4,
  h5 {
    color: getCol("highlight");
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2.8em;
    padding-bottom: 0.6em;
    border-bottom: 1px solid getCol("highlight");
  }

  h4 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  h5 {
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 3em;
  }

  .question {
    padding: 0.4em 0.8em;
    color: getCol("");
    background-color: rgba(getCol("light"), 0.8);
    border-left: $speaker-border-width solid getCol("dark");
    padding-left: $speaker-border-width + 5px;
    margin-top: 1em;

    p {
      margin-bottom: 0;
    }
  }

  .pm,
  .shorten {
    padding-left: $speaker-border-width + 5px;
    background: rgba(getCol("light"), 0.6);
  }
  .pm {
    border-left: $speaker-border-width solid getCol("liberal");
  }
  .shorten {
    border-left: $speaker-border-width solid getCol("labor");
  }
}

#interview #question {
  position: relative;

  label {
    margin-bottom: 0.5em;
  }

  textarea {
    width: 100%;
    font-size: 1em;
    height: 4em;
    padding: 0.5em;
  }
}

#interview #suggestions {
  margin-bottom: 1.5em;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: block;

    button {
      // &::before {
      //   content: "💬";
      //   font-size: 2em;
      //   display: block;
      //   float: left;
      //   height: 100%;
      //   margin: 0 0.5em 0 0;
      // }

      color: getCol("body-invert");
      display: block;
      width: auto;
      text-align: left;
      border-radius: 5px;
      padding: 0.6em 0.8em 0.6em 1.8em;
      background-color: rgba(getCol("dark"), 0.6);
    }
  }
}

#interview #submit {
  border-radius: 8px;
  padding: 0.6em 1em;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  border: 1px solid getCol("dark");
  margin-bottom: 2em;

  &:hover {
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.5);
  }
}
