// don't access the $palette-* map directly in scss files
// a global $palette var is used to allow easy swapping between different palette map options
// see getCol function in _funcs.scss file for accessing
// colors from the global palette in scss files

$palette-default: (
  primary: #028090,
  highlight: #6d0000,
  accent: #404257,
  light: #fbfbfb,
  dark: #201a23,
  grey-light: #dedede,
  grey-mid: #aaaaaa,
  grey-dark: #555555
);
