// don't access the $palette-* map directly in scss files
// a global $palette var is used to allow easy swapping between different palette map options
// see getCol function in _funcs.scss file for accessing
// colors from the global palette in scss files

$palette-default: (
  primary: #ff6c00,
  success: #1dca0e,
  highlight: #980101,
  accent: #690000,
  light: #fbfbfb,
  dark: #191919,
  grey-light: #dedede,
  grey-mid: #aaaaaa,
  grey-dark: #555555
);
