#nav-button {
  position: absolute;

  z-index: 50;
  width: 100px;
  height: 2.6em;
  left: 10px;
  bottom: -2.4em;
  border: none;
  outline: none;
  cursor: pointer;

  a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 0.8em;
    width: 100%;
    height: 100%;
  }

  border-radius: 0 0 5px 5px;
  background-color: getCol("dark");
  color: getCol("light");
}

#siteNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 1em;
  // overflow: hidden;

  transform: translate3d(0, -100%, 0);

  color: getCol("light");
  background: getCol("dark");

  transition: transform 400ms ease-in-out;

  &.open {
    transform: translate3d(0, 0, 0);
  }

  h2 {
    font-size: 1.2em;
    color: getCol("light");
  }

  ul {
    margin: 0 0 2em 0;
    padding: 0;

    li {
      display: block;
      margin: 0 0 1em 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
