$bubble-bg-opacity: .7;
$lnp-col: rgb(50,0,250);
$lab-col: rgb(250,0,30);

/* Reset box model */
html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }

html, body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  background: #000000;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, header, main, footer {
  width: 100%;
}

body {
  min-height: 100vh;
  position: relative;
}

header {
  display: grid;
  position: fixed;
  z-index: 10;
  top:0;
  left:0;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  
  div {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
  }

  .bs {  background-image: url('../img/bs.jpg') }
  .sm {  background-image: url('../img/sm.jpg') }
}


main {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 100vh;
  z-index: 10;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  section {
    color: rgba(250,250,250, .85);
    font-size: 2.5rem;
    max-width: 75%;
    padding:1em 1em 2em;
    margin: 2em 1em 6em 1em;
    background-color:rgba(0,0,0, $bubble-bg-opacity);
    border-radius: 1em;
    border: 5px solid rgba(0,0,0,.75);
  }

  h2 {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0, .7)
  }

  .question { 
    grid-column: 1/-1;
    text-align: center;
    justify-self: center;
  }

  .bs { 
    grid-column: 1/3; 
    background-color: rgba($lab-col, $bubble-bg-opacity); 
  };

  .sm {
    grid-column: 2/-1; 
    text-align: right; 
    justify-self: end; 
    background-color: rgba($lnp-col, $bubble-bg-opacity)
  };
}

footer {
  background: #000000;
  color: #fff;
  position:fixed;
  z-index: 50;
  padding: .5em 1em;
  bottom:0;
  font-size: 1.2rem;
  text-align: right;
  opacity: .8;

  a {
    color: rgb(150,250,200);
  }
}